@namespace myComponents
@using System.IO
@inject IJSRuntime JS

<button class="btn-primary" @onclick="ToggleModal">Show Modal</button>

@code
{
    [Parameter]
    public string? modalID {get; set;}
    protected bool showModal {get; set;} = false;
    protected async Task ToggleModal()
    {
        showModal = !showModal;
        await JS.InvokeVoidAsync("toggleModal", modalID, showModal);
    }
}