@page "/fiction"

<PageTitle>Fiction</PageTitle>

<h1>Fiction</h1>

<DownloadablePDF fileName="Test1.pdf" fileURL="https://localhost:7164/files/Test.pdf"/>
<DownloadablePDF fileName="Test2.pdf" fileURL="https://localhost:7164/files/Test.pdf"/>
<DownloadablePDF fileName="Test3.pdf" fileURL="https://localhost:7164/files/Test.pdf"/>

@code {
}
