/* /Shared/Components/DocumentCard.razor.rz.scp.css */
.card[b-8ee3g1jpgk] {
    background-color:rgb(18, 18, 18);
    border: 1px solid #a1a1a1;
    margin-bottom: 15px;
}

.card-header[b-8ee3g1jpgk] {
    background-color:rgb(45, 45, 45);
    border: 1px solid #a1a1a1;
}

.card-body[b-8ee3g1jpgk] {
    border-style: solid;
    border: 1px solid #a1a1a1;
}

.card-footer[b-8ee3g1jpgk] {
    background-color:rgb(36, 36, 36);
    border: 1px solid #a1a1a1;
    text-align: right;
}
/* /Shared/Components/Modals/UploadModal.razor.rz.scp.css */
.modal[b-3wa9ag9wi5] {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content[b-3wa9ag9wi5] {
    background-color: #6a6a6a;
    color: #000000;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #a1a1a1;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  .modal-header[b-3wa9ag9wi5] {
    background-color: #7a7a7a;
    border: 1px solid #a1a1a1;
    color: #000000;
  }  

  .modal-body[b-3wa9ag9wi5] {
    background-color: #292929;
    border: 1px solid #a1a1a1;
    color: #cdcdcd;
  }  

  .modal-footer[b-3wa9ag9wi5] {
    background-color: #f57272;
    border: 1px solid #a1a1a1;
    color: #000000;
  }  
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-y7jqp07gpx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-y7jqp07gpx] {
    background-color: #131313;
    color: white; 
    flex: 1;
}

.sidebar[b-y7jqp07gpx] {
    background-color: #131313;
    border-right: 1px solid #d6d5d5;
}

.top-row[b-y7jqp07gpx] {
    background-color: #2b2b2b;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y7jqp07gpx]  a, .top-row[b-y7jqp07gpx]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-y7jqp07gpx]  a:hover, .top-row[b-y7jqp07gpx]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-y7jqp07gpx]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.bottom-row[b-y7jqp07gpx] {
    position: fixed;
    background-color: #2b2b2b;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y7jqp07gpx] {
        display: none;
    }

    .top-row.auth[b-y7jqp07gpx] {
        justify-content: space-between;
    }

    .top-row[b-y7jqp07gpx]  a, .top-row[b-y7jqp07gpx]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y7jqp07gpx] {
        flex-direction: row;
    }

    .sidebar[b-y7jqp07gpx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y7jqp07gpx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-y7jqp07gpx]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .bottom-row[b-y7jqp07gpx], article[b-y7jqp07gpx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .bottom-row[b-y7jqp07gpx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .bottom-row.auth[b-y7jqp07gpx]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .bottom-row[b-y7jqp07gpx], article[b-y7jqp07gpx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b8nfs7ynko] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b8nfs7ynko] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    border-bottom: 1px solid #d6d5d5;
}

.navbar-brand[b-b8nfs7ynko] {
    font-size: 1.1rem;
}

.oi[b-b8nfs7ynko] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-b8nfs7ynko] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b8nfs7ynko] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b8nfs7ynko] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b8nfs7ynko]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b8nfs7ynko]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-b8nfs7ynko]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b8nfs7ynko] {
        display: none;
    }

    .collapse[b-b8nfs7ynko] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
