@using System.IO
@inject IJSRuntime JS

<button class="btn-primary" @onclick="DownloadFileFromURL">
    <span class="oi oi-data-transfer-download" aria-hidden="true"></span> @fileName
</button>

@code {
    [Parameter]
    public string? fileName {get; set;}
    [Parameter]
    public string? fileURL {get; set;}
    private async Task DownloadFileFromURL()
    {
        await JS.InvokeVoidAsync("triggerFileDownload", fileName, fileURL);
    }
}