.page[b-773whgzg5a] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-773whgzg5a] {
    background-color: #131313;
    color: white; 
    flex: 1;
}

.sidebar[b-773whgzg5a] {
    background-color: #131313;
    border-right: 1px solid #d6d5d5;
}

.top-row[b-773whgzg5a] {
    background-color: #2b2b2b;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-773whgzg5a]  a, .top-row[b-773whgzg5a]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-773whgzg5a]  a:hover, .top-row[b-773whgzg5a]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-773whgzg5a]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.bottom-row[b-773whgzg5a] {
    position: fixed;
    background-color: #2b2b2b;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-773whgzg5a] {
        display: none;
    }

    .top-row.auth[b-773whgzg5a] {
        justify-content: space-between;
    }

    .top-row[b-773whgzg5a]  a, .top-row[b-773whgzg5a]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-773whgzg5a] {
        flex-direction: row;
    }

    .sidebar[b-773whgzg5a] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-773whgzg5a] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-773whgzg5a]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .bottom-row[b-773whgzg5a], article[b-773whgzg5a] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .bottom-row[b-773whgzg5a] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .bottom-row.auth[b-773whgzg5a]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .bottom-row[b-773whgzg5a], article[b-773whgzg5a] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
