/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-y7jqp07gpx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-y7jqp07gpx] {
    background-color: #131313;
    color: white; 
    flex: 1;
}

.sidebar[b-y7jqp07gpx] {
    background-color: #131313;
    border-right: 1px solid #d6d5d5;
}

.top-row[b-y7jqp07gpx] {
    background-color: #2b2b2b;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y7jqp07gpx]  a, .top-row[b-y7jqp07gpx]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-y7jqp07gpx]  a:hover, .top-row[b-y7jqp07gpx]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-y7jqp07gpx]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y7jqp07gpx] {
        display: none;
    }

    .top-row.auth[b-y7jqp07gpx] {
        justify-content: space-between;
    }

    .top-row[b-y7jqp07gpx]  a, .top-row[b-y7jqp07gpx]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y7jqp07gpx] {
        flex-direction: row;
    }

    .sidebar[b-y7jqp07gpx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y7jqp07gpx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-y7jqp07gpx]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-y7jqp07gpx], article[b-y7jqp07gpx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b8nfs7ynko] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b8nfs7ynko] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    border-bottom: 1px solid #d6d5d5;
}

.navbar-brand[b-b8nfs7ynko] {
    font-size: 1.1rem;
}

.oi[b-b8nfs7ynko] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-b8nfs7ynko] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b8nfs7ynko] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b8nfs7ynko] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b8nfs7ynko]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b8nfs7ynko]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-b8nfs7ynko]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b8nfs7ynko] {
        display: none;
    }

    .collapse[b-b8nfs7ynko] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
